/* PARADISE FIREFOX THEME */
/* Supports Windows and MacOS. Linux is untested as of now. however for gnome I reccomend https://github.com/rafaelmardojai/firefox-gnome-theme */
/* Update 8.11.24 - Supports Firefox 128 */
/* Special thanks to https://github.com/ranmaru22/firefox-vertical-tabs for sidebar configuration, make sure to install Tabs Reborn and apply given stylesheet in settings. */

@namespace xul "http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul";

/* Set theme version text in customization panel */
#customization-footer::before {
  content: "Paradise's Firefox Theme by Nathan Davenport (github.com/nathandaven/firefox-paradise-theme)";
  padding: 9px;
}

/* Root color styles */
:root {
  --lwt-accent-color: rgb(245, 245, 245) !important;
  --lwt-text-color: rgba(40, 40, 40) !important;
  --arrowpanel-background: rgb(245, 245, 245) !important;
  --panel-disabled-color: rgba(76, 76, 76, 0.5) !important;
  --panel-description-color: rgba(76, 76, 76, 0.7) !important;
  --arrowpanel-color: rgba(76, 76, 76, 1) !important;
  --arrowpanel-border-color: rgb(210, 210, 210) !important;
  --toolbar-field-background-color: rgb(245, 245, 245) !important;
  --toolbar-field-color: rgb(76, 76, 76) !important;
  --toolbar-field-focus-background-color: rgba(245, 245, 245, 1) !important;
  --toolbar-field-focus-color: rgb(76, 76, 76) !important;
  --lwt-background-tab-separator-color: rgb(176, 176, 176) !important;
  --toolbar-bgcolor: rgb(255, 255, 255) !important;
  --toolbar-color: rgb(113, 113, 113) !important;
  --tabpanel-background-color: rgb(245, 245, 245) !important;
  --chrome-content-separator-color: #cccccc /* rgb(176, 176, 176) */ !important;

  /* sidebar */
  --sidebar-border-color: rgb(176, 176, 176) !important;
  --sidebar-width: 40px;
}

/* hotfix for Firefox 107 */
#sidebar-box {
  min-width: var(--sidebar-width) !important;
}

/* Dark color styles */
@media (prefers-color-scheme: dark) {
  :root {
    --lwt-accent-color: rgb(40, 40, 40) !important;
    --lwt-text-color: rgba(240, 240, 240) !important;
    --arrowpanel-background: rgb(40, 40, 40) !important;
    --panel-disabled-color: rgba(240, 240, 240, 0.5) !important;
    --panel-description-color: rgba(240, 240, 240, 0.7) !important;
    --arrowpanel-color: rgba(240, 240, 240, 1) !important;
    --toolbar-field-background-color: rgb(79, 79, 79) !important;
    --toolbar-field-color: rgb(240, 240, 240) !important;
    --toolbar-field-focus-background-color: rgba(79, 79, 79, 1) !important;
    --toolbar-field-focus-color: rgb(240, 240, 240) !important;
    --toolbar-bgcolor: rgb(30, 30, 30) !important;
    --toolbar-color: rgb(240, 240, 240) !important;
    --arrowpanel-border-color: rgb(30, 30, 30) !important;
    --lwt-background-tab-separator-color: rgb(40, 40, 40) !important;
    --tabpanel-background-color: rgb(40, 40, 40) !important;
    --chrome-content-separator-color: rgb(79, 79, 79) !important;

    /* sidebar */
    --sidebar-border-color: rgb(79, 79, 79) !important;
    --sidebar-background-color: rgb(40, 40, 40) !important;
    --background: rgb(40, 40, 40) !important;

    /* newtab */
    --newtab-background-color: rgb(40, 40, 40) !important;
    --newtab-background-color-secondary: rgb(30, 30, 30) !important;
    --newtab-text-primary-color: #ffffff;

    box-shadow: #ffffff !important;
    border-color: white !important;
  }

  @-moz-document url("about:newtab"), url("about:home") {
    body {
      background-color: rgb(40, 40, 40) !important;
    }
  }
}

#sidebar-box:not([lwt-sidebar]) {
  appearance: unset !important;
}

#tabbrowser-tabpanels,
#tabbrowser-tabpanels[pendingpaint],
browser:not(#sidebar) {
  background-color: var(--background) !important;
}

/* macOS specific styles https://github.com/ranmaru22/firefox-vertical-tabs */
@media (-moz-gtk-csd-available),
  (-moz-mac-big-sur-theme: 0),
  (-moz-mac-big-sur-theme: 1),
  (-moz-platform: macos) {
  #TabsToolbar:not([customizing="true"]) {
    visibility: collapse !important;
  }

  #urlbar-background {
    border-radius: 8px;
  }

  #toolbar-menubar {
    padding-top: 0px !important;
  }

  #TabsToolbar {
    visibility: collapse !important;
  }

  #toolbar-menubar {
    padding-top: 0px !important;
  }

  #nav-bar {
    padding: 0px 0px 0px 86px !important;
  }

  #nav-bar-customization-target {
    padding-left: 10px;
  }

  #TabsToolbar .titlebar-buttonbox-container {
    visibility: visible !important;
    position: absolute;
    top: 12px; /* 12px */
    left: 0px;
  }

  .titlebar-buttonbox-container {
    display: block;
  }

  .titlebar-button > .toolbarbutton-icon {
    height: 13x !important;
    min-height: 13px !important;
    width: 13px !important;
    min-width: 13px !important;
  }

  .titlebar-button {
    padding-left: 6px !important;
    padding-right: 6px !important;
    padding-top: 6px !important;
  }

  .titlebar-placeholder[type="pre-tabs"] {
    width: 120px !important;
  }

  .titlebar-buttonbox-container {
    -moz-box-ordinal-group: 0;
  }
}

/* Windows specific styles */
@media (-moz-platform: windows),
       (-moz-platform: windows-win7),
       (-moz-os-version: windows-win7),
       (-moz-os-version: windows-win8),
       (-moz-os-version: windows-win10) {
  /* Fix title bar location */
  #titlebar {
    z-index: 999 !important;
  }

  /* Right side padding */
  #nav-bar {
    padding: 0px 115px 0px 0px !important;
  }

  /* Hide unix close/min/max bnuttons */
  #TabsToolbar .titlebar-buttonbox-container {
    visibility: hidden !important;
  }

  /* Show windows nav buttons close/min/max buttons */
  #toolbar-menubar .titlebar-buttonbox-container {
    visibility: visible !important;
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 999 !important;
  }

  /* padding fix */
  #nav-bar-customization-target {
    padding-left: 0px !important;
  }

  /* trying to clean buttons to match others */
  .titlebar-button {
    margin: 4px !important;
    padding: 10px !important;
    border-radius: 4px !important;
  }
}

/* General styles */
#browser {
  position: relative;
}

#nav-bar {
  z-index: 100;
}

#url-bar {
  z-index: 0;
}

#sidebar-box[sidebarcommand*="tabcenter"] {
  z-index: 1;
}

#sidebar-box[sidebarcommand*="tabcenter"] #sidebar-header {
  visibility: collapse;
  display: none;
}

#sidebar-box[sidebarcommand*="tabcenter"]:not([hidden]) {
  display: block;
  position: absolute;
  min-width: var(--sidebar-width); /*48*/
  max-width: var(--sidebar-width); /*48*/
  overflow: hidden;
  transition: all 0.1s ease;
  border-left: 0.01px solid var(--chrome-content-separator-color);
  z-index: 1;
  top: 0;
  bottom: 0;
  right: 0;
}

[sidebarcommand*="tabcenter"] #sidebar,
#sidebar-box[sidebarcommand*="tabcenter"]:hover {
  min-width: 10vw !important;
  /* width: 20vw !important; */
  width: 200px !important;
  max-width: 200px !important;
  z-index: 10 !important;
}

@media (width >= 1200px) {
  [sidebarcommand*="tabcenter"] #sidebar,
  #sidebar-box[sidebarcommand*="tabcenter"]:hover {
    max-width: 250px !important;
  }
}

[sidebarcommand*="tabcenter"] ~ #sidebar-splitter {
  display: none;
}

[sidebarcommand*="tabcenter"] #sidebar {
  max-height: 100%;
  height: 100%;
}

#sidebar-box[sidebarcommand*="tabcenter"]:not([hidden]) ~ #appcontent {
  margin-right: var(--sidebar-width); /*48*/
}

#main-window[inFullscreen][inDOMFullscreen] #appcontent {
  margin-right: 0;
}

#main-window[inFullscreen] #sidebar {
  height: 100vh;
}

[sidebarcommand*="tabcenter"] #sidebar-header {
  background: #0c0c0d;
  border-bottom: none !important;
}

[sidebarcommand*="tabcenter"] ~ #sidebar-splitter {
  border-right-color: #0c0c0d !important;
  border-left-color: #0c0c0d !important;
}

[sidebarcommand*="tabcenter"] #sidebar-switcher-target,
[sidebarcommand*="tabcenter"] #sidebar-close {
  filter: invert(100%);
}

@media (max-width: 630px) {
  #urlbar-container {
    min-width: 100% !important;
  }

  #menubar-items {
    display: none !important;
  }
}

/* Hide Extension Name Unless Site Identity Area is Hovered */
#identity-icon-label {
  display: none !important;
}

#identity-icon-box:not(:hover) {
  background-color: unset !important;
}

#identity-icon-box {
  padding-inline: 4px !important;
}
